version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached
      - mariadb_data:/var/lib/mysql

    ports:
      - "80:80"
      - "3306:3306"

    environment:
      MYSQL_ROOT_PASSWORD: mariadb
      MYSQL_DATABASE: mariadb
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mariadb

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    command: /usr/local/bin/start.sh

volumes:
  mariadb_data:
